{% extends "base.html" %}
{% block title %}Categoría{% endblock %}

{% block content %}
<div class="card shadow-sm">
  <div class="card-body">
    <h2 class="fw-bold mb-3">
      {% if object %}Editar categoría{% else %}Agregar categoría{% endif %}
    </h2>

    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="mb-3">
          <label class="form-label">{{ field.label }}</label>
          {{ field }}
          <div class="text-danger small">{{ field.errors }}</div>
        </div>
      {% endfor %}
      <button class="btn btn-primary">Guardar</button>
      <a href="{% url 'catalogo:categoria_lista' %}" class="btn btn-secondary">Cancelar</a>
    </form>
  </div>
</div>
{% endblock %}
